@value styles: "./../../constants/style.constants.css";
@value themeColor, themeColorLight, accentColorBright from styles;

#basket {
  padding: 10px 20px;
}

div.basket-column {
  margin-right: 20px;
}

.basket-total-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
}

#shipping-handling {
  border-bottom: 1px solid #e0e0e0;
  width: 80%;
  text-align: end;
}

#summary-amounts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 150px;
}

#checkout-btn {
  margin-top: 20px;
  width: 100%;
  color: black;
  background-color: accentColorBright;
  font-size: 15px;
  font-weight: 500;
}

.basket-total {
  margin-top: 30px;
  color: themeColor;
}

.basket-summary {
  display: flex;
  justify-content: space-between;
}

.basketcnt{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 350px;
}

