.theForm{
	max-width: 750px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Verdana, "Times New Roman", Times, serif;
}
.theForm fieldset{
	border: none;
}
.theForm legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.theForm label {
	display: block;
	margin-bottom: 8px;
}
.theForm input[type="text"],
.theForm input[type="date"],
.theForm input[type="datetime"],
.theForm input[type="email"],
.theForm input[type="number"],
.theForm input[type="search"],
.theForm input[type="time"],
.theForm input[type="url"],
.theForm textarea,
.theForm select {
	font-family: Verdana, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#000000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	
}
.theForm input[type="text"]:focus,
.theForm input[type="date"]:focus,
.theForm input[type="datetime"]:focus,
.theForm input[type="email"]:focus,
.theForm input[type="number"]:focus,
.theForm input[type="search"]:focus,
.theForm input[type="time"]:focus,
.theForm input[type="url"]:focus,
.theForm textarea:focus,
.theForm select:focus{
	background: #d2d9dd;
}
.theForm select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.theForm .number {
	background: #3E005D;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.theForm input[type="submit"],
.theForm input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #3E005D;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.theForm input[type="submit"] {
	border: none;
}

.theForm input[type="submit"]:hover,
.theForm input[type="button"]:hover
{
<<<<<<< HEAD
	background: #64B5F6;
=======
	background: #5E147D;
>>>>>>> 7acb214c96a9a31cf050212b32e6bc543e5f19ce
}

::placeholder { color: rgb(170, 170, 179);
							font-family: Verdana, "Times New Roman", Times, serif;
							
}



h1 {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color:#455a64;
	text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}


p{
			color:black;
	}

	th{
			background-color: grey;
	}

/*   .input-field input[type=text]:focus {
			color: #3E005D;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #3E005D;
	box-shadow: none;
} */

.theForm .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
	color: #3E005D !important;
}

.theForm .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #3E005D !important;
	box-shadow: 0 1px 0 0 #3E005D !important;
}