@value styles: "./../../../constants/style.constants.css";
@value themeColorLight from styles;

.sidenav-overlay {
  opacity: 0 !important;
}
.category-header {
  margin-bottom: 5px;
  margin-LEFT: 15px;
  font-size: 18px;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

div.user-view {
  background-color: themeColorLight;
}